.swag-custom-notification-banner {
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 20px;
}

.swag-custom-notification-banner-text {
    text-align: center;
}

.swag-custom-notification-banner-close-icon {
    align-self: auto;
    cursor: pointer;
}
