<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Consent Popup</title>
        <title lang="de-DE">Zustimmungs-Popup</title>
        <name>Consent popup</name>

        <input-field type="bool">
            <name>showConsentPopup</name>
            <required>true</required>
            <label>Show Consent Modal</label>
            <label lang="de-DE">Zustimmungs-Dialog anzeigen</label>
            <helpText>The consent popup only is visible, if this setting is checked. Users can only visit the shop after they agreed to it.</helpText>
            <helpText lang="de-DE">Der Zustimmungs-Dialog ist nur sichtbar, wenn diese Einstellung angehakt ist. Nutzer können den Shop nur besuchen, wenn sie diesem zugestimmt haben.</helpText>
        </input-field>

        <component name="sw-snippet-field">
            <name>consentTitle</name>
            <label>Title</label>
            <label lang="de-DE">Titel</label>
            <helpText>Title of the consent popup.</helpText>
            <helpText lang="de-DE">Titel des Zustimmung-Dialogs.</helpText>
            <snippet>swCustomNotification.consentPopup.title</snippet>
        </component>

        <component name="sw-snippet-field">
            <name>consentDescription</name>
            <label>Description</label>
            <label lang="de-DE">Beschreibung</label>
            <helpText>The text that should be displayed in the consent popup.</helpText>
            <helpText lang="de-DE">Der Text, der im Zustimmungs-Dialog angezeigt wird.</helpText>
            <snippet>swCustomNotification.consentPopup.description</snippet>
            <fieldType>textarea</fieldType>
        </component>

        <component name="sw-snippet-field">
            <name>consentButton</name>
            <label>Button label</label>
            <label lang="de-DE">Button-Text</label>
            <helpText>The text that should be displayed in the consent button.</helpText>
            <helpText lang="de-DE">Der Text, der im Zustimmungs-Button angezeigt wird.</helpText>
            <snippet>swCustomNotification.consentPopup.labelConsentButton</snippet>
        </component>
    </card>

    <card>
        <title>Banner</title>
        <title lang="de-DE">Banner</title>
        <name>banner</name>

        <input-field type="bool">
            <name>showBanner</name>
            <required>true</required>
            <label>Show banner</label>
            <label lang="de-DE">Banner sichtbar</label>
            <helpText>The banner is only visible if this setting is checked.</helpText>
            <helpText lang="de-DE">Der Banner ist nur sichtbar wenn diese Einstellung angehakt ist.</helpText>
        </input-field>

        <input-field type="bool">
            <name>bannerClosable</name>
            <required>true</required>
            <label>Closable</label>
            <label lang="de-DE">Wegklickbar</label>
            <helpText>Determines if the banner can be closed.</helpText>
            <helpText lang="de-DE">Bestimmt ob der Banner geschlossen werden kann.</helpText>
        </input-field>

        <input-field type="colorpicker">
            <name>bannerBackgroundColor</name>
            <required>true</required>
            <label>Background color</label>
            <label lang="de-DE">Hintergrundfarbe</label>
            <helpText>The background color of the banner</helpText>
            <helpText lang="de-DE">Die Hintergrundfarbe des Banners.</helpText>
        </input-field>

        <input-field type="colorpicker">
            <name>bannerFontColor</name>
            <required>true</required>
            <label>Font color</label>
            <label lang="de-DE">Schriftfarbe</label>
            <helpText>The font color of the banner</helpText>
            <helpText lang="de-DE">Die Schriftfarbe des Banners.</helpText>
        </input-field>

        <input-field type="bool">
            <name>bannerMarquee</name>
            <required>false</required>
            <defaultValue>false</defaultValue>
            <label>Display as marquee</label>
            <label lang="de-DE">Als Laufschrift anzeigen</label>
            <helpText>Determines if the text is displayed as marquee</helpText>
            <helpText lang="de-DE">Bestimmt ob der Text in Laufschrift angezeigt wird.</helpText>
        </input-field>

        <component name="sw-snippet-field">
            <name>bannerText</name>
            <required>true</required>
            <label>Text</label>
            <label lang="de-DE">Text</label>
            <helpText>The text that should be displayed in the banner.</helpText>
            <helpText lang="de-DE">Der Text, der im Banner dargestellt werden soll.</helpText>
            <snippet>swCustomNotification.banner.text</snippet>
            <fieldType>textarea</fieldType>
        </component>
    </card>

    <card>
        <title>Info Popup</title>
        <title lang="de-DE">Info-Popup</title>
        <name>Info popup</name>

        <input-field type="bool">
            <name>showInfoPopup</name>
            <required>true</required>
            <label>Show Info Popup</label>
            <label lang="de-DE">Info-Popup anzeigen</label>
            <helpText>Show an informational popup to shop visitors.</helpText>
            <helpText lang="de-DE">Zeige Shop-Besuchern ein Popup mit Informationen an.</helpText>
        </input-field>

        <input-field type="bool">
            <name>infoBlurBackground</name>
            <required>false</required>
            <defaultValue>true</defaultValue>
            <label>Blur popup background</label>
            <label lang="de-DE">Popup-Hintergrund ausblenden</label>
        </input-field>

        <component name="sw-snippet-field">
            <name>infoTitle</name>
            <required>true</required>
            <label>Popup title</label>
            <label lang="de-DE">Popup-Titel</label>
            <helptext>Title displayed in the popup.</helptext>
            <helptext lang="de-DE">Titel, welcher im Popup angezeigt wird.,</helptext>
            <snippet>swCustomNotification.infoPopup.title</snippet>
        </component>

        <component name="sw-snippet-field">
            <name>infoText</name>
            <required>true</required>
            <label>Popup text</label>
            <label lang="de-DE">Popup-Text</label>
            <helptext>Text displayed in the popup.</helptext>
            <helptext lang="de-DE">Text, welcher im Popup angezeigt wird.,</helptext>
            <snippet>swCustomNotification.infoPopup.text</snippet>
            <fieldType>textarea</fieldType>
        </component>

        <component name="sw-media-field">
            <name>infoImage</name>
            <required>false</required>
            <label>Popup image</label>
            <label lang="de-DE">Popup-Bild</label>
            <helptext>Image displayed in the left half of the popup.</helptext>
            <helptext lang="de-DE">Bild, welches in der linken Popup-Hälfte angezeigt wird.</helptext>
        </component>
    </card>

    <card>
        <title>Newsletter registration popup</title>
        <title lang="de-DE">Newsletter-Registrierungs Popup </title>
        <name>newsletter</name>

        <input-field type="bool">
            <name>showNewsletter</name>
            <required>true</required>
            <label>Show newsletter registration popup</label>
            <label lang="de-DE">Newsletter-Registrierungs Popup wird angezeigt.</label>
            <helpText>The newsetter registration popup is only visible if this setting is checked.</helpText>
            <helpText lang="de-DE">Das Newsletter-Registrierungs Popup ist nur sichtbar wenn diese Einstellung angehakt ist.</helpText>
        </input-field>

        <input-field type="bool">
            <name>newsletterShowNameInput</name>
            <required>false</required>
            <defaultValue>false</defaultValue>
            <label>Show name input fields</label>
            <label lang="de-DE">Zeige Eingabefeld für den Namen</label>
            <helpText>Determines if input fields to enter first and last name should be shown.</helpText>
            <helpText lang="de-DE">Bestimmt ob Eingabefelder für den Vor- und Nachnamen angezeigt werden sollen.</helpText>
        </input-field>

        <component name="sw-snippet-field">
            <name>newsletterHeading</name>
            <required>true</required>
            <snippet>swCustomNotification.newsletterPopup.heading</snippet>
            <label>Heading</label>
            <label lang="de-DE">Überschrift</label>
            <helpText>The heading of the newsletter registration popup.</helpText>
            <helpText lang="de-DE">Die Überschrift des Newsletter-Registrierungs Popups.</helpText>
        </component>

        <component name="sw-snippet-field">
            <name>newsletterText</name>
            <required>true</required>
            <snippet>swCustomNotification.newsletterPopup.text</snippet>
            <label>Text</label>
            <label lang="de-DE">Text</label>
            <helpText>The text that should be displayed inside the newsletter popup registration.</helpText>
            <helpText lang="de-DE">Der Text, der im Newsletter-Registrierungs Popup dargestellt werden soll.</helpText>
        </component>

        <component name="sw-snippet-field">
            <name>newsletterSubmitButtonLabel</name>
            <required>false</required>
            <snippet>swCustomNotification.newsletterPopup.labelSubmit</snippet>
            <label>Submit button text</label>
            <label lang="de-DE">Registrierungs-Button Text</label>
        </component>
    </card>
</config>
