<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Banner</title>
        <title lang="de-DE">Banner</title>
        <name>banner</name>
        <!--Configuration for banners go here-->

    </card>

    <card>
        <title>Popup notification</title>
        <title lang="de-DE">Popup Benachrichtigung</title>
        <name>popup</name>
        <!--Configuration for popup go here-->

    </card>
</config>
