<div
    class="swag-custom-notification-consent-modal"
    data-consent-manager-plugin
>
    <div class="swag-custom-notification-consent-modal__backdrop"></div>
    <div class="swag-custom-notification-consent-modal__content">
        {% if not 'SwagCustomNotification.consentPopup.title'|trans is empty %}
            <h3>{{ 'SwagCustomNotification.consentPopup.title'|trans }}</h3>
        {% endif %}
        <p>{{ 'SwagCustomNotification.consentPopup.description'|trans }}</p>

        <div class="swag-custom-notification-consent-modal__consent">
            <button class="btn btn-primary swag-custom-notification-consent-modal__consent-button">
                {{ 'SwagCustomNotification.consentPopup.labelConsentButton'|trans }}
            </button>
        </div>
    </div>
</div>
