{% set infoModalOptions = {
    blurBackground: shopware.config.swCustomNotification.config.infoBlurBackground
} %}

{% set image = null %}

{% if not shopware.config.swCustomNotification.config.infoImage is empty %}
    {% set imageId = shopware.config.swCustomNotification.config.infoImage %}
    {% set mediaCollection = searchMedia([imageId], context.context) %}
    {% set image = mediaCollection.get(imageId) %}
{% endif %}

<div
    class="sw-custom-notification-info-modal"
    id="sw-custom-notification-info-modal"
    data-notification-modal="true"
    data-notification-modal-plugin-options="{{ infoModalOptions|json_encode }}"
    hidden
>
    <div class="sw-custom-notification-info-modal__content">
        <div class="row">
            {% if not image is null %}
                <div class="col-md-6">
                    <img src="{{ image.url }}">
                </div>
            {% endif %}
            <div {% if not image is null %} class="col-md-6" {% else %} class="col-md-12" {% endif %}>
                <h3>{{ 'swCustomNotification.infoPopup.title'|trans }}</h3>
                <p>{{ 'swCustomNotification.infoPopup.text'|trans }}</p>
            </div>
        </div>
    </div>
</div>
